body{
    background-color: black;

}

.header{
    border: 1px solid red;
    height: 100px;
    width: 100%;
    display: flex;
}
.logo{
    margin-left: 10px;
    border: 1px solid green;
    height: 100px;
    width: 300px;
    margin-right: 5px;
}
.logo img{
width: 100%;
height: 80%;

}

.item{
    border: 1px solid yellow;
    height: 100px;
    width: 300px;
    margin-left : 20px;
}
.item img{
    width: 100%;
    height: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1f);
    /* border: 3px solid red; */
    grid-gap: 10px;
    /* margin-top: 20px;
    display: flex;
    width: 1400px;
    height: 500px; */
}
.grid-item{
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    width: 300px;
    height: 200px;
    border: 2px solid red;

}

.grid-item img{
    max-width: 100%;
    width: 100%;
    height: 100%;
}


.text-img{
    margin-top: 10px;
    color: red;
}
.image-grid{
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    justify-content: space-between;

}
.image-grid img{
    width: 400px;
    height: 200px;
}
.image-grid figcaption{
    color: red;
    text-align: center;
}